@import url("https://fonts.googleapis.com/css2?family=Niramit");
.form_body {
  max-width: 1800px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
h1 {
  border-bottom:1px solid #A8A8A8;
  padding-bottom: 20px;
  color: #115725;
}
.textprice_1{
  font-family: "Niramit", sans-serif;
  font-size: 25px;
  color: #115725;
  display: inline-block;
  padding-right: 50px;
}
.textprice_2{
  font-family: "Niramit", sans-serif;
  font-size: 25px;
  color: #115725;
  display: inline-block;
  padding-right: 85px;
}
.v1{
  margin-top: 6rem;
}
