@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@700&display=swap");
* {
  font-family: "Niramit", sans-serif;
}
.container {
  max-width: 960px;
  height: 500px;
  margin-top: 12rem;
  text-align: center;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin-block-end: 0em;
  font-size: 80px;
  font-weight: bold;
  color: #115725;
}
.P1 {
  position: relative;
  bottom: 30px;
  font-size: 80px;
}
.p_2 {
  display: block;
  margin-top: 50px;
  font-size: 30px;
}
.buttonHP {
  box-shadow: 5px 2px #FFFFFF;
  font-size: 20px;
  display: inline-block;
  padding: 20px 40px;
  margin: 12px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #115725;
  color: #fff;
}
.buttonP-loan {
  font-size: 20px;
  display: inline-block;
  padding: 20px 82px;
  border-radius: 10px;
  background-color: #115725;
  color: #fff;
}
.buttonHP:active {
  background-color: white;
}
.buttonP-loan:active {
  background-color: white;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 36px;
  }
  .P1 {
    font-size: 35px;
  }
  .p_2 {
    position: relative;
    bottom: 70px;
    font-size: 20px;
  }
  .buttonHP {
    position: relative;
    bottom: 100px;
  }
  .buttonP-loan {
    position: relative;
    bottom: 105px;
    padding: 20px 89px;
  }
}
